.upload {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
}

#video_player {
  max-height:500px;
}

.rc-slider-mark-text {
  color: white;
}